.ResetPasswordScreen {
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 60px; 
}

.ResetForm {
  border-radius: 18px;
  padding: 60px;
  width: 300px;
  margin: 40px;
  height: auto;
  box-shadow: 1px 2px black, 0 6px 18px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ResetTitle{
  align-items: flex-start;
  justify-content: flex-start;
  color: #323232;
  margin-left: 20px;
  font-size: 20px;
}