.RecipesScreen {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}


.RecipesScreenTitle {
  color: #4b4b4b;
  font-size: 20px;
  margin: 20px 0;          
  text-align: center;     
}
.RecipeList {
  width: 100%;
  display: flex;           
  flex-direction: column;  
  align-items: center;    
  gap: 12px;                
  margin-top: 10px;      
}