.RecipesScreen {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  width: 100%;
  height: 100vh;
  margin: 0;
}

.RecipesScreenTitle{
  align-items: flex-start;
  justify-content: flex-start;
  color: #4b4b4b;
  margin-left: 20px;
  font-size: 20px;
}

.RecipeList {
    width: 100%;
    gap: 12px;
    flex-direction: column;  
    justify-content: flex-start;
}

