itzikrecipe.com, www.itzikrecipe.com {

    encode gzip

    @apex host itzikrecipe.com
    redir @apex https://www.itzikrecipe.com{uri} permanent

    header {
        Cache-Control "no-store"
        Cross-Origin-Opener-Policy "same-origin-allow-popups"
    }

    @api path /api/*
    handle @api {
        reverse_proxy backend:4000
    }

    @socket path /socket.io/*
    handle @socket {
        reverse_proxy backend:4000
    }

    handle {
        reverse_proxy frontend:5173
    }
}