.Header {
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: relative;
}

.SiteTitle {
  color: rgb(65, 64, 64);              
  text-align: center;
}

.NavLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.NavLinkContainer > * {
  text-decoration: none;
  padding: 4px;
   color: rgb(65, 64, 64);   
}

.NavLinkContainer h2 {
  margin: 0;
}


.NavLinkContainer > *.active h2 {
    color: rgb(65, 64, 64);   
}

@media (max-width: 1000px) {
  .Header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    gap: 4px;
    padding-top: 20px;
    position: relative;
  }

  .SiteTitle {
    position: static;
    transform: none;
    margin: 0;
    font-size: 20px;
    text-align: center;
  }

  .NavLinkContainer {
    display: flex;
    gap: 12px;
  }

  .NavLinkContainer > * {
    font-size: 16px;
    padding: 4px 8px;
  }

  .NavLinkContainer h2 {
    font-size: 18px;
  }
}
