
  .Header {
    background-color: white;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%; 
    gap: 50px;
   border-bottom: 1px solid #555;;
  }


.HomeLink{
    color:  #fa9c30; 
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  gap: 4px;
  transition: color 0.2s ;
}
.HomeLink svg {
  color:  #fa9c30;
  width: 30px;
  height: 30px;
  transition: transform 0.2s, color 0.2s;
}

.HomeLink:hover, .HomeLink svg:hover {
  color: #fa9c30;
  transform: scale(1.1);
}
.HomeDivText{
  color: #fa9c30;
}

.HistoryLink{
    color:  #357ab8; 
  font-weight: 800;
  font-size: 16px;
  text-decoration: none;
  gap: 4px;
  transition: color 0.2s ;
}
.HistoryDivText{
  color: #357ab8;
}
.HistoryLink svg {
  color:  #357ab8;
  width: 30px;
  height: 30px;
  transition: transform 0.2s, color 0.2s;
}

.HistoryLink:hover, .HistoryLink svg:hover {
  color: #357ab8;
  transform: scale(1.1);
}

.NavLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.NavLinkContainer > * {
  text-decoration: none;
  padding: 4px;
  color: white;
}

.NavLinkContainer h2{
  margin: 0;
}

