.ProfileScreen {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start; 
  width: 100%;
  height: 200vh;
  margin: 0;
}

.ProfileScreenTitle{
  align-items: flex-start;
  justify-content: flex-start;
  color: #4b4b4b;
  margin-left: 20px;
  font-size: 20px;
}

.ProfileSection{
    border-radius: 6px;
    border: 1px solid;
    flex-direction: column;
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 20px auto;  
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #393939;
  margin: 16px 0;
}