 .MuiDrawer-paper {
   width: 360px;
 }

 .DrawerMainContainer {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
 }

 .DrawerMainContainer>* {
   font-family: Arial, Helvetica, sans-serif;
   color: #232323;
 }

 .DrawerContent {
   display: flex;
   width: 100%;
   flex-direction: column;
   height: 100%;
   align-items: stretch;
 }

 .DrawerContent>div {
   display: flex;
   flex-direction: column;
   flex: 1;
 }

 .DrawerCloseButton {
   margin: 24px 24px 0 auto;
   cursor: pointer;
   font-size: 18px;
 }

 .DrawerLogoutLink {
   margin-top: auto;
 }

 .ProfileImage {
   width: 200px;
   height: 200px;
   border-radius: 180px;
   object-fit: cover;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 .DrawerNavLink {
   width: 100%;
   display: flex;
   flex-direction: row;
   font-size: 14px;
   text-decoration: none;
   color: #232323;
   
 }

 .UserName {
   margin: 20px 0 0 40px;
 }


 .ProfileRow,
 .AboutRow,
 .LanguageRow,
 .DarkModeRow,
 .LogoutRow,
 .LoginRow {
   display: flex;
   padding: 6px;
   gap: 6px;
   flex-direction: row;
   width: 100%;
   justify-content: start;
   border: 0.4px solid rgb(190, 190, 190);
   align-items: center;
   height: 30px;
   margin: 3px;
 border-radius: 2px;
 }


 .LoginRow>*,
 .LogoutRow>* {
   color: white !important;
 }

 .LoginRow{
  margin-top: 50px;
     box-shadow: 0 2px 8px rgba(0, 0, 0,4)!important;
   border: none !important;
   background-color: #215d9a;
 }
 .LogoutRow {
   box-shadow: 0 2px 8px rgba(0, 0, 0,4)!important;
   border: none !important;
   background-color: #ff0000;
 }

.RowLeft {
  display: flex;
  gap: 6px;
  align-items: center;
}


.RowRight {
  display: flex;
  gap: 12px;
  align-items: center;

}

.RadioOption {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
}