.MuiDrawer-paper {
  width: 240px;
  height: 100vh;
    background:  rgb(255, 255, 255)!important;
    box-shadow: none !important;
}

.DrawerMainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

.DrawerContent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  box-sizing: border-box;
}

.DrawerContent>div {
  width: 100%;
}

.CloseButton {
  margin: 24px 24px 0 auto;
  cursor: pointer;
  font-size: 18px;
}

.ProfileImage {
  width: 160px;
  height: 160px;
  border-radius: 180px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}


.UserName {
  margin: 20px 0 0;
  text-align: center;
}


.ProfileBtn,
.AboutScreenBtn{
  width: calc(100% - 24px);
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  min-height: 46px;
  height: 46px;
  line-height: 1;
  box-sizing: border-box;
  transition: filter 120ms ease, transform 120ms ease;
}

.DrawerContent.LoggedOut .AboutScreenBtn{

  margin-bottom: auto;
}

.ProfileBtn{
  margin-top: 10px;
}


.AboutScreenBtn{
  margin-top: 12px;     
  margin-bottom: 16px; 
}
.ProfileBtn:hover,
.AboutScreenBtn:hover{ filter: brightness(1.03); transform: translateY(-1px); }

.ProfileBtn:active,
.AboutScreenBtn:active{ transform: translateY(0px); }

.ProfileBtn svg,
.AboutScreenBtn svg{ color:#fff; font-size:22px; }

.ProfileBtn p,
.AboutScreenBtn p{ margin:0; font-size:14px; font-weight:900; }


/* keep About colors as now */
.AboutScreenBtn{
  background: linear-gradient(180deg, #48a9f4 0%, #48a9f4 100%);
  box-shadow: 0 12px 22px rgba(106, 77, 255, .22),
              0 2px 0 rgba(186, 185, 185, 0.22) inset;
}

/* keep Profile colors as your profile/pink */
.ProfileBtn{
  background: linear-gradient(180deg,#ffb700 0%,#ffb700 100%);
  box-shadow: 0 12px 22px rgba(217,70,114,.22),
              0 2px 0 rgba(255,255,255,.22) inset;
}







