.FeatureUnlockHint {
  width: 100%;
  display: flex;
  margin: 16px 0 0 0;
  justify-content: center;
}

.FeatureUnlockHint__bubble {
  background: #fff;
  width: 290px;
  border-radius: 16px;
}

.FeatureUnlockHint__list {
  display: flex;
  flex-direction: column;
}

.FeatureUnlockHint__line {
  display: flex;
  align-items: center;
  color: rgb(87, 87, 87);
  padding: 10px ;
  border-radius: 12px;
  font-weight: 200;
}

.FeatureUnlockHint__icon {
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.FeatureUnlockHint__label {
  flex: 1;              
  text-align: center;
  font-size: 18px;
  font-weight: 900;
}

.FeatureUnlockHint__ctaPill {
  margin-top: 12px;
  width: 100%;
  display: flex;
  color: #1376a3;
  align-items: center;
  font-weight: 900;
  font-size: 22px;
  cursor: pointer;
}

.FeatureUnlockHint__lock,
.FeatureUnlockHint__arrow {
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.FeatureUnlockHint__ctaText {
  flex: 1;              
  text-align: center;
}

