


.InfoScreenContainer{
    border: 1px solid #4d4d4d;
    margin: 8px;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
}
.TopSection {
  display: flex;
  margin: 30px;
}

.BackBtn {
  background: #ff9900 !important;
  padding: 6px 12px !important;
}
.RecipeInImage{
    
    padding: 20px;

  width: 80%;
  height: 400px;
  border-radius: 8px;
}