.RecipeInfoScreen{
    width: 100%;
    height: 200vh;

    margin: 0;
    background-color: white;
}

.BackBtnContainer {
  display: flex;
  margin: 30px;
}

.BackBtn {
    display: flex;
  margin: 30px;
  background: #ff9900 !important;
  padding: 6px 12px !important;
}

.InfoScreenContainer{
    border: 1px solid #4d4d4d;
    margin: 8px;
    width: 600px;
    margin-left:auto;
    margin-right: auto;
}


.RecipeInImage{
    
    padding: 20px;

  width: 80%;
  height: 400px;
  border-radius: 8px;
}