.RecipeInfoScreen {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BackBtnContainer {
  display: flex;
  justify-content: flex-start;   
  margin: 30px auto 0;         
  width: 600px;             
  max-width: 100%; 
}

.BackBtn {
  background: #ff9900 !important;
  padding: 6px 12px !important;
}

.InfoScreenContainer {
  border-radius: 6px;
  border: 1px solid #4d4d4d;
  margin: 8px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.RecipeInImage {
  padding: 20px;
  width: 80%;
  height: 400px;
  border-radius: 8px;
}


@media (max-width: 600px) {
.InfoScreenContainer{
 width: 400px;
}
}