.LoginScreen {
  display: flex;
  justify-content: center;   
  align-items: flex-start;   
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 60px; 
}

.LoginForm {
  border-radius: 10px;
  padding: 60px;
  width: 300px;
  margin: 40px;
  height: auto;
  box-shadow: 1px 2px black, 0 6px 18px black;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.LoginScreenTitle{
  align-items: flex-start;
  justify-content: flex-start;
  color: #323232;
  margin-left: 20px;
  font-size: 20px;
}

.RegisterLink{
 display: inline-flex;
  align-items: center;            
  text-decoration: none;
  color: #323232;
  cursor: pointer;
  justify-content: center; 
}

.LoginButton{
      background: #215898 !important;
  padding: 6px;
}

html[dir="rtl"] .InputTextField .MuiInputBase-input {
  text-align: right;
}

html[dir="rtl"] .InputTextField .MuiInputAdornment-root {
  margin-left: 0 !important;
  margin-right: 8px !important;
}

@media (max-width: 600px) {

  .LoginForm {
    padding: 60px 30px; 
  }

  .InputTextField {
    margin: 4px 0;  
    padding: 0;     
  }

  }