.RecipeInfoScreen {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 24px 16px 40px;   
  box-sizing: border-box;
  overflow-y: auto;   
  display: flex;
  flex-direction: column;
  align-items: center;


} 
.InfoScreenContainer {
  width: 100%;
  max-width: 800px;              
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  text-align: left;
} 

.BackBtnContainer {
  width: 100%;
  margin: 0 auto 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

.BackBtnContainer:hover {
  cursor: pointer;
}