.FeatureUnlockHint {
  width: 100%;
  display: flex;
  margin: 16px 0;
  justify-content: center;
}
.RadioBtn{
  display: none !important;
}
.FeatureUnlockHint__bubble {
  background: #fff;
  width: 290px;
  padding: 4px;
  border-radius: 16px;
}

.FeatureUnlockHint__line {
  display: flex;
  align-items: center;
  color: rgb(87, 87, 87);
  padding: 10px;
  border-radius: 12px;
  font-weight: 200;
  
}

.FeatureUnlockHint__icon {
  font-size: 16px;
  align-items: center;
  justify-content: center;
 
}

.FeatureUnlockHint__label {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  
}

.FeatureUnlockHint__ctaPill {
  margin-top: 6px;
  width: 100%;
  display: flex;
  color: #4d4d4d;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}

.FeatureUnlockHint__lock,
.FeatureUnlockHint__arrow {
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.FeatureUnlockHint__ctaText {
  flex: 1;
  text-align: center;
}


@media (max-width: 600px) {
  .FeatureUnlockHint__bubble {
    background: none;
    margin: 0 40px 0 !important;
    border-radius: 0;
    padding: 0;
    width: 100%;
    border: none;
  }

  .FeatureUnlockHint__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .FeatureUnlockHint__line {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;             
  }

  .FeatureUnlockHint__label {
    flex: 0;
    text-align: start;
    line-height: 1;
  }

  .FeatureUnlockHint__icon {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .RadioBtn {
    display: flex !important;
    color: rgb(0, 0, 0);
    align-self: center;
    font-size: 28px;
    margin: 0 14px;          
    line-height: 1;
  }

  .FeatureUnlockHint__line--ask .FeatureUnlockHint__icon {
    color: #74b9f6;
    height: 16px;
    width: 16px;
  }

  .FeatureUnlockHint__line--save .FeatureUnlockHint__icon {
    color: #ed1b5d;
    height: 16px;
    width: 16px;
  }

  .FeatureUnlockHint__line--history .FeatureUnlockHint__icon {
    color: #0e9f12;
    height: 16px;
    width: 16px;
  }

  .FeatureUnlockHint__arrow {
    display: none;
  }
}