.FeatureUnlockHint {
  width: 100%;
  display: flex;
  margin: 16px 0;
  justify-content: center;
}
.RadioBtn{
  display: none !important;
}
.FeatureUnlockHint__bubble {
  background: #fff;
  width: 290px;
  padding: 4px;
  border-radius: 16px;
}

.FeatureUnlockHint__line {
  display: flex;
  align-items: center;
  color: rgb(87, 87, 87);
  padding: 10px;
  border-radius: 12px;
  font-weight: 200;
  
}

.FeatureUnlockHint__icon {
  font-size: 16px;
  align-items: center;
  justify-content: center;
 
}

.FeatureUnlockHint__label {
  flex: 1;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  
}

.FeatureUnlockHint__ctaPill {
  margin-top: 6px;
  width: 100%;
  display: flex;
  color: #4d4d4d;
  align-items: center;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}

.FeatureUnlockHint__lock,
.FeatureUnlockHint__arrow {
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

.FeatureUnlockHint__ctaText {
  flex: 1;
  text-align: center;
}


@media (max-width: 600px) {

  .FeatureUnlockHint__bubble {
    background: transparent;
    margin: 0  40px 0!important;

    padding: 0;
width: 100%;
    border: none;
  }
  .RadioBtn{
  display: flex !important;
color: rgb(0, 0, 0);
  align-self: center;
}

.FeatureUnlockHint__icon {
margin: 4px;
color: #eab928; 
}

.FeatureUnlockHint__list {
  display: flex;
  flex-direction: row;
}
.FeatureUnlockHint__arrow{
  display: none;
}
}