.FeatureHint {
  width: 100%;
  display: flex;
  margin: 12px 0;            
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 18px;                  
}

.FeatureRow {
  width: 100%;
  display: flex;
  align-items: center;     
  justify-content: center;    
  gap: 12px;                 
}

.FeaterIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.ChatSection .FeaterIcon .MuiSvgIcon-root {
  color: #1376a3;
  font-size: 20px;
}

.FavoritesSection .FeaterIcon .MuiSvgIcon-root {
  color: #ed1b5d;
  font-size: 20px;
}

.HistorySection .FeaterIcon .MuiSvgIcon-root {
  color: #0e9f12;
  font-size: 20px;
}

.FeatureLabel {
  text-align: center;
  font-size: 16px;
  margin: 0;                 
  color: #555555;
}

.FreeWithLoginBtn {
font-size: 18px !important;
  font-weight: 900 !important;
  background: transparent !important;
   color: #555555 !important;
  padding: 10px 18px !important;
}

.FreeWithLoginBtn:active, .FreeWithLoginBtn:hover{
  height: 50px;
  width: 300px !important;
  border-radius: 16px !important;
  background-color: #eab928 !important;
  color: #555555 !important;
}

