.ExcludeGroup{
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.ExcludeGroup > div:first-child{
  width:50%;
}

.ExcludeTextField{
  width:100%;
}


.ExcludeTextField .MuiOutlinedInput-root{
  height:40px;
  border-radius:8px;

}

@media (max-width: 600px){
.ExcludeGroup > div:first-child{
  width:60%;
}

}
