.FiltersSectionContainer{
  margin-top:4px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:6px;
  overflow:visible;
}

.FilterBtn.MuiButton-root {
    margin-top: 20px;
    width: 60%;
    border-radius: 12px;
    background: rgb(255, 162, 0);
    color: #ffffff;
    gap: 10px;
}

.FiltersDropdown {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    white-space: nowrap;
   width: 100%;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
    margin: 0;
}

.PanelState.closed{
  opacity:0;
}

.PanelState.open{
  opacity:1;
}

.FilterPanelInnerSection{
  width: 60%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 22px rgba(53, 53, 53, 0.22), 0 2px 0 rgba(255, 255, 255, .22) inset;
  border-radius: 12px;
  margin: 12px auto;
  padding: 12px;
  background: linear-gradient(110deg, #ffffff 0%, #e0dcf2 100%);
  gap: 12px;
}

.FilterPanelInnerSection .MuiToggleButtonGroup-root {
  gap: 12px;           
}

.FilterPanelInnerSection .MuiToggleButton-root {
  background: #ffffff;
  border-radius: 12px !important;
}


.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected {
  background: #ffa200;
  color: #ffffff;
}

.FilterPanelInnerSection > div{
  position: relative;
  padding-bottom: 12px;
}

.FilterPanelInnerSection > div:not(:last-child)::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0,0,0,0.10);
}

@media (max-width: 600px){
  .FilterBtn.MuiButton-root{
    width: 90%;
  }

  .FilterPanelInnerSection{
    width: 90%;
    padding: 10px;
  }

  .FilterPanelInnerSection .MuiToggleButtonGroup-root{
    gap: 8px;
  }
}