:root {
  --content-width: 600px; 
}

.RecipeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.SearchContainer {
  width: var(--content-width);
  margin-top:10px;
  gap: 16px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchContainer form {
  width: 100%;
  max-width: var(--content-width);
  margin-top: 16px auto 0;
  display: block;
}

.SearchTF { width: 100%; }

.SearchTF .MuiOutlinedInput-root {
  height: 44px;
}

.SearchTF .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #3D7D5E;
}

.SearchTF .MuiInputLabel-root.Mui-focused {
  color: #3D7D5E;
}

.SearchTF .MuiIconButton-root {
  color: #3D7D5E;
}

form .MuiIconButton-root {
  height: 44px;
  width: 44px;
  margin-left: 6px;
}

.SearchTF .MuiOutlinedInput-input {
  height: 44px;
  line-height: 44px;
  padding: 0 14px;
  box-sizing: border-box;
}


.SearchTF .MuiOutlinedInput-input::placeholder {
  color: #999;    
  opacity: 1;  
    align-items: center;
}

.SearchTF .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input::placeholder {
    align-items: center;
  opacity: 0;  
}

.LoadingWithImage,
.LoadingWithoutImage{
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;  
  margin-right: auto;  
  color: #4b4b4b;
}
