.IngredientsList {
  display: flex;
  flex-direction: column;
  width: 440px;
border: 1.5px solid rgb(56, 140, 237);
border-radius: 8px;
padding: 20px;
  margin: 20px;
  gap: 6px;
 margin-left: auto;
  margin-right: auto;
}
.RecipeCard{

  padding: 16px;
  margin: 16px;
    border-top: 2px solid grey ;
}
.RecipeCard>h2{
  color: #4f4e4e
}
.IngredientRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding: 4px 0;
}

.IngredientRow:last-child {
  border-bottom: none;
}


.IngredientName {
  width: 60%;
  text-align: left;
  font-weight: 600;
  color: #333;
  padding-right: 12px;
}


.IngredientAmount {
  width: 40%;
  text-align: right;
  color: #555;
  white-space: nowrap;
}


.InstructionsList {
  border: 1.5px solid grey;
padding: 20px;
  margin: 20px;
  width: 440px;
  border-radius: 8px;
}

.InstructionsList h4 {
  margin-bottom: 8px;
}

.InstructionsList ol {
  padding-left: 20px;
  margin: 0;
}

.InstructionsList li {
  margin-bottom: 6px;
  line-height: 1.4;
}

.RecipeImage {
  width: 470px;
  height: 330PX;
  border-radius: 8px;
  border: 5px solid #fa9c30;
}