.premium_dialog_paper {
  width: 600px !important;
  height: 600px;
  border-radius: 16px !important;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.PremiumDialog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-section {
  position: relative;
  width: 100%;
  padding-top: 16px;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.premium-title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.premium-title-div svg {
  color: #eab928 !important;
  width: 30px !important;
  height: 30px !important;
}

.subscription-title {
  margin: 0;
  font-size: 32px;
  color: rgb(50, 50, 50);
}

.subscription-sub-title {
  margin-top: 12px;
  align-self: center;
  font-size: 18px;
  color: #585858;
}

.second-title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 94%;
  margin: 12px auto;
  background: linear-gradient(135deg, #f5cd54, #f4e0a2, white);
  border-radius: 12px;
}

.second-title-section p {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #2e2e2e;
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 8px;
}


.what_you_get {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  gap: 10px;
  width: 420px; 
  margin: 10px 0;
}

.what_you_get p {
  margin: 0;
}

.what_you_get svg {
  flex-shrink: 0;
  width: 26px !important;
  height: 26px !important;
}

.what_you_get.yellow svg {
  color: #eab928 !important;
}

.what_you_get.blue svg {
  color: #2196f3 !important;
}

.what_you_get.red svg {
  color: #e7554a !important;
}

.secondary-text {
  color: #7b7b7b;
  margin-left: 6px;
}