.ImageSwitchDiv{
  display: flex;
  flex-direction: column;   
  align-items: center;
}

.ImageSwitchIconsRow{
  display: flex;
  justify-content: center; 
}

.imageSwitchIcon,.imageSwitchIcon-NoImage {
  color: #4a4a4a;
}

.ImageSwitchSection.rtl .MuiToggleButtonGroup-grouped{
  margin-left: 0 !important;
  margin-right: -1px !important;
}

.imageSwitch .MuiToggleButton-root, .imageSwitch .MuiToggleButton-root:hover,
.FiltersColumn .MuiToggleButton-root, .FiltersColumn .MuiToggleButton-root:hove{
  border: transparent;
  height: 20px !important;
}

.imageSwitch .MuiToggleButton-root.Mui-selected,
.FiltersColumn .MuiToggleButton-root.Mui-selected{
border: 1px solid rgba(128, 128, 128, 0.551);
background: rgba(0, 195, 255, 0.313);
border-radius: 4px;
}

.ImageSwitchSection.rtl .imageSwitch{
  display:inline-flex;
  flex-direction:row-reverse;     /* OFF appears on the right */
  justify-content:flex-end;
}

/* remove MUI grouped negative margin that causes left clipping */
.ImageSwitchSection.rtl .imageSwitch .MuiToggleButtonGroup-grouped{
  margin-left:0!important;
  margin-right:0!important;
}