.ImageSwitch {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  min-width: 240px;
}

.ToggleGroup {
  display: flex;
  width: 100%;
  border: 1px solid #fa9c30;;
  border-radius: 4px;

}


.ToggleGroup .MuiToggleButtonGroup-grouped {
  flex: 1;
  border: none;
  padding: 8px 12px;
  text-transform: none;
}


.ToggleGroup .MuiToggleButton-root {
  background: white;
  color: #fa9c30;;

}


.ToggleGroup .MuiToggleButton-root:hover {
  background: white;
}


.ToggleGroup .MuiToggleButton-root.Mui-selected {
  background: #fa9c30 !important;
  color: white !important;
}


.ToggleGroup .MuiToggleButton-root.Mui-selected:hover {
  background: #fa9c30 !important;
}
