.MainLayout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  background: linear-gradient(
  45deg,
  #95c6f4 0%,
  #82a5bf 50%,
  #e3e3e3 100%
);
}


.MainLayout > * {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1;         
}

main {
  overflow-y: hidden; 
  z-index: 1;  
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 0;            
  box-sizing: border-box;
}

main:has(.RecipeCard) {
  overflow-y: auto;
}