.MainLayout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  background:
    /* strong grid, visible */
    linear-gradient(90deg, rgb(195, 208, 226) 1px, transparent 1px),
    linear-gradient(0deg, rgb(196, 198, 202) 1px, transparent 1px),

    /* radial-gradient(1100px 720px at 12% 0%,
      rgba(0, 153, 255, 0.726) 0%,
      rgba(25, 136, 240, 0.42) 35%,
      rgba(33, 124, 209, 0.18) 55%,
      transparent 70%),

    radial-gradient(900px 680px at 92% 10%,
      rgba(237, 138, 25, 0.72) 0%,
      rgba(240, 180, 58, 0.40) 34%,
      rgba(201, 145, 32, 0.16) 54%,
      transparent 70%),

    radial-gradient(1300px 900px at 55% 120%,
      rgba(86, 121, 170, 0.55) 0%,
      rgba(148, 163, 184, 0.30) 42%,
      rgba(148, 163, 184, 0.14) 62%,
      transparent 78%), */

   
    linear-gradient(180deg, #c8cbd1 0%, #ffffff 35%, #dddfe2 100%);
      background-size: 46px 46px, 46px 46px, auto, auto, auto, auto;
}


.MainLayout > * {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1;         
}

main {
  overflow-y: hidden; 
  z-index: 1;  
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 0;            
  box-sizing: border-box;
}

main:has(.RecipeCard) {
  overflow-y: auto;
}

