.RecipeListItem {
  width: 300px;
  height: auto;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.RecipeListItem:hover {
  cursor: pointer;
}

.CardImage {
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
}

.RecipeListItem .DeleteIcon {
  position: absolute !important;
  top: 8px;
  right: 8px;
}

.CountryFlag{
    font-size: 5rem;
}

.BottomSection{
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .RecipeListItem {
   justify-content: center !important;
   margin: 8px auto !important; 
  }
}