.RecipeListItem {
  width: 300px;
  height: auto;
  padding: 8px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  position: relative;
}

.RecipeListItem:hover {
  cursor: pointer;
}


.CardImage {
  position: absolute;
  top: -20px;
  left: -20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
}

.TopRightActions{
  position: absolute;
  top: 8px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  z-index: 2;
}

.LikeBtn{
  padding: 6px !important;
}

.LikeBtn svg{
  color: #f5c400; 
}

.DeleteBtn{
  padding: 6px !important;
}
.DeleteBtn svg{
  color: #058e9a
}


.RecipeName{
  margin: 120px 0 10px;
}
.MoreInfoBtn{
  background-color: #058e9a !important;
}
@media (max-width: 600px) {
  .RecipeListItem {
   justify-content: center !important;
   margin: 8px auto !important; 
  }
}