html, body, #root {
  margin: 0;
  padding: 0;
 height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  text-align: center;
   min-height: 100%;
  min-height: 100dvh;
}

.notyf__toast {
  font-family: Arial, Helvetica, sans-serif ;
}

.MuiToggleButton-root {
  min-height: 32px !important;
  height: 32px !important;
  padding: 4px 10px !important;
  line-height: 1.2 !important;
  font-size: 0.875rem !important;
}
