
.MainLayout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 background-color: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  z-index: 0; 
  position: relative;  
  background-size: cover; 
}

.MainLayout::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;     
  background-image: url("/recipe-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;  
}


.MainLayout > * {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1;
  z-index: 1;           
}

main {
  z-index: 1;  
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 0;            
  box-sizing: border-box;
}
