.MainLayout {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(50px, 5%);
    grid-template-columns: 1fr;
 
}

.MainLayout>* {
    font-family: Arial;
}

header{
    grid-column: span 2;
}

main {
    overflow: auto;
    min-height: 0;
}

@media (max-width: 1000px) {
    .MainLayout {
      grid-template-rows: minmax(50px, 5%);
   
    }

    main {
         overflow: auto;
    
    }
}