.MainLayout {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
 grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr;
      overflow: hidden !important;
}

.MainLayout>* {
    font-family:Arial, Helvetica, sans-serif;
}

header{
    grid-column: span 2;
}

main {
     grid-row: 2;
    overflow: auto;
    min-height: 0;
}


