.MainLayout {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
background: linear-gradient(135deg, #c5e0e8,#c5e0e8,#a1c1ca, #0d87b0 ,#086f91 );
}

.MainLayout > * {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-row: 1;
  grid-column: 1;
  z-index: 10;           
}

main {
  grid-row: 2;
  grid-column: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 0;            
  box-sizing: border-box;
}
