.Header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center; 
  border-bottom: 1px solid;
 
}

.GeneralNavigation,
 .UserNavigation{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.UserNavigation {
  margin-left: auto;     
}

.LogoutLink,
.HomeScreenLink,
.AboutScreenLink,
.RecipesScreenLink,
.LoginScreenLink,
.ProfileScreenLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px;
  text-decoration: none;
  color: #4b4b4b;
}

.HomeScreenLink.active,
.AboutScreenLink.active,
.RecipesScreenLink.active,
.LoginScreenLink.active,
.ProfileScreenLink.active {
  color: #ff9900;
}

@media (max-width: 600px) {
  .Header {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .GeneralNavigation {
    display: flex;
    gap: 20px;
    margin: 20px;
    justify-content: center;  
  }

  .UserNavigation {
    display: flex;
    gap: 20px;
    margin: 20px;
    margin-left: auto;       
    justify-content: flex-end; 
  }
}