.Header {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center; 
}

.WebsiteTitle, 
.GeneralNavigation,
 .UserNavigation{
  display: flex;
  gap: 20px;
  margin: 20px;
}

.UserNavigation {
  margin-left: auto;     
}

.HomeScreenLink,
.AboutScreenLink,
.RecipesScreenLink,
.LoginScreenLink,
.RegistrationScreenLink,
.ProfileScreenLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 14px;
  text-decoration: none;
  color: #4b4b4b;
}

.HomeScreenLink.active,
.AboutScreenLink.active,
.RecipesScreenLink.active,
.LoginScreenLink.active,
.RegistrationScreenLink.active,
.ProfileScreenLink.active {
  color: #ff9900;
}

/* Mobile layout */
@media (max-width: 600px) {

  .GeneralNavigation,
  .UserNavigation {
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;   
    margin-left: 0;     
  }
}