.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  padding: 6px 20px;
  box-sizing: border-box;
  background-color: white;
}

.Header p {
  margin: 1px 0 0;   
  line-height: 1.1;  
}

.GeneralNavigation,
.CenterNavigation,
.UserNavigation {
  display: flex;
  align-items: center;
}

.UserNavigation {
  margin-left: auto; 
}

.GeneralNavigation a + a{
  margin-left: 12px;
  padding-left: 12px;
}

.UserNavigation a + a {
  margin-left: 12px;
  padding-left: 12px;
}

.CenterNavigation {
  margin: 0 12px;
  padding: 0 12px;

}

.Header > .CenterNavigation:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.Header > .CenterNavigation:first-child:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.Header > .CenterNavigation:first-child:last-child a {
  align-items: flex-start; 
}

.LogoutLink,
.GenerateScreenLink,
.AboutScreenLink,
.RecipesScreenLink,
.LoginScreenLink,
.ProfileScreenLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0;       
  font-size: 12px;
  text-decoration: none;
  color: #4b4b4b;
}

.GenerateScreenLink.active,
.AboutScreenLink.active,
.RecipesScreenLink.active,
.LoginScreenLink.active,
.ProfileScreenLink.active {
  color: #215898;
  font-weight: bold;
  font-size: 14px;
}

.LogoutLink {
  color: #ff0000 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

@media (max-width: 600px) {
  .Header {
    padding: 6px 12px;
    flex-wrap: wrap;   
  }

    .Header p {  
    margin: 1px 0 0;
    line-height: 1.1;
  }

  .GenerateScreenLink,
  .AboutScreenLink,
  .RecipesScreenLink,
  .LoginScreenLink,
  .ProfileScreenLink {
    font-size: 12px;
  }

  .GeneralNavigation a + a{
    margin-left: 12px;
    padding-left: 12px;

  }

  .UserNavigation a + a {
    margin-left: 12px;
    padding-left: 12px;
  }

  .CenterNavigation {
    margin: 0 12px;
    padding: 0 12px;

  }

  .Header > .CenterNavigation:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
  }

  .Header > .CenterNavigation:first-child:last-child {
    margin: 0;
    padding: 0;
    border: none;
  }

  .Header > .CenterNavigation:first-child:last-child a {
    align-items: flex-start; 
  }
}
