.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 20px;
  box-sizing: border-box;
  margin: 8px;

}

.Header p {
  margin: 1px 0 0;

}

.HeaderImagePreview {
  border-radius: 180px;
  width: 45px;
  height: 45px;
  object-fit: cover;
  object-position: center;
}


.GeneralNavigation,
.CenterNavigation,
.UserNavigation {
  display: flex;
  align-items: center;
}

.UserNavigation {
  margin-left: auto;
}

.GeneralNavigation a+a {
  margin-left: 12px;
  padding-left: 12px;
}

.UserNavigation a+a {
  margin-left: 12px;
  padding-left: 12px;
}

.CenterNavigation {
  margin: 0 12px;
  padding: 0 12px;

}

.Header>.CenterNavigation:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.Header>.CenterNavigation:first-child:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.Header>.CenterNavigation:first-child:last-child a {
  align-items: flex-start;
}

.LogoutLink,
.GenerateScreenLink,
.AboutScreenLink,
.HomeScreenLink,
.LoginScreenLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0;
  font-size: 12px;
  text-decoration: none;
  color: #232323;
}

.GenerateScreenLink.active,
.AboutScreenLink.active,
.HomeScreenLink.active,
.LoginScreenLink.active {
  color: #0f7394;
  font-weight: bold;
  font-size: 14px;
}

.LogoutLink {
  color: #ff0000 !important;
}

@media (max-width: 600px) {
  .Header {
    padding: 2px 12px;
    flex-wrap: wrap;
  }

  .Header p {
    margin: 1px 0 0;
  
  }

  .GenerateScreenLink,
  .AboutScreenLink,
  .HomeScreenLink,
  .LoginScreenLink {
    font-size: 12px;
  }
  .Header>.CenterNavigation:first-child:last-child {
    margin: 0;
    padding: 0;

  }

}