.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;


  background-color: rgb(217, 217, 217);;
}

.Header p {
  margin: 1px 0 0;
}

.GeneralNavigation {
  display: flex;
  align-items: center;
}

.GeneralNavigation a+a {
  margin-left: 12px;
  padding-left: 12px;
}

.GenerateScreenLink,
.HomeScreenLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 0;
  font-size: 12px;
  text-decoration: none;
  color: #232323;
}

.GenerateScreenLink.active,
.HomeScreenLink.active {
  color: #0b80ce;
  font-weight: bold;
  font-size: 14px;
}

.Menu {
  margin-left: auto;
 
}

.Menu svg {
  color: #0b80ce;
}

@media (max-width: 600px) {

  .Header {
    padding: 0 12px;
    flex-wrap: wrap;
  }

  .Header p {
    margin: 1px 0 0;
  }

  .GenerateScreenLink,
  .HomeScreenLink {
    font-size: 12px;
  }
}

