.Header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  background-color: white;
}

.GeneralNavigation,
.CenterNavigation,
.UserNavigation {
  display: flex;
  align-items: center;
}

.UserNavigation {
  margin-left: auto; 
}

.GeneralNavigation a + a{
  border-left: 1px solid #ccc;
  margin-left: 14px;
  padding-left: 14px;
}

.UserNavigation a + a {
 margin-left: 14px;
  padding-left: 14px;
}

.CenterNavigation {
  margin: 0 14px;
  padding: 0 14px;
  border-left: 1px solid #ccc;
 
}

.LogoutLink,
.HomeScreenLink,
.AboutScreenLink,
.RecipesScreenLink,
.LoginScreenLink,
.ProfileScreenLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;        
  font-size: 14px;
  text-decoration: none;
  color: #4b4b4b;
}

.HomeScreenLink.active,
.AboutScreenLink.active,
.RecipesScreenLink.active,
.LoginScreenLink.active,
.ProfileScreenLink.active {
  color: #215898;
  font-weight: bold;
  font-size: 16px;
}

.LogoutLink {
  color: #ff0000 !important;
  font-size: 16px !important;
  font-weight: bold !important;
}

@media (max-width: 600px) {
  .Header {
   padding: 12px 24px; 
    flex-wrap: wrap;   
  }

  .GeneralNavigation a + a{
    margin-left: 14px;
    padding-left: 14px;
    border-left: 1px solid #ccc;
  }

  .UserNavigation a + a {
    margin-left: 14px;
    padding-left: 14px;
  }

  .CenterNavigation {
    margin: 0 14px;
    padding: 0 14px;
    border-right: 1px solid #5f5f5f;
  }
}
