.FiltersSectionContainer{
  position: relative;
  width: 100%;
  overflow: visible;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PanelState{
  position: absolute;              
  top: calc(100% + 10px);           
  left: 0;
  right: 0;
}

.PanelState.open{
  opacity: 1;
  pointer-events: auto;
}

.PanelState.closed{
  opacity: 0;
  pointer-events: none;
}

.FilterPanelInnerSection{
  margin: 0 auto;                  
  width:55%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 12px 22px rgba(53, 53, 53, 0.627), 0 2px 0 rgba(187, 187, 187, 0.355) inset;
  border-radius: 8px;
  padding: 12px;
  background: white;
  gap: 12px;
}

.FilterPanelInnerSection .MuiToggleButtonGroup-grouped:not(:first-of-type) {
  border-left: 2px solid #1e80b162 !important;
  margin-left: 0 !important; 
}

.FilterBtn.MuiButton-root {
    margin-top: 20px;
    width: 50%;
    border-radius: 8px;
    background: #ffffff;
    color: #474747;
    font-weight: 800;
    gap: 10px;
    box-shadow: none;
    border: 1px solid #70707076;;
}

.FiltersDropdown {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    white-space: nowrap;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
    margin: 0;
}

.FilterPanelInnerSection .MuiToggleButtonGroup-root {
  gap: 12px;           
}

.FilterPanelInnerSection .MuiToggleButton-root {
  background: #ffffff;
  border-radius: 8px !important;
  border:2px solid #1e80b162; 
}

.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected {
  background:#1e80b1; 
  color: #ffffff;
}

.FilterPanelInnerSection > div{
  position: relative;
  padding-bottom: 12px;
}

.FilterPanelInnerSection > div:not(:last-child)::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0,0,0,0.10);
}

.FilterPanelInnerSection .MuiToggleButton-root{
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected,
.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected:hover,
.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected:active,
.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected:focus,
.FilterPanelInnerSection .MuiToggleButton-root.Mui-selected:focus-visible{
 background: #1e80b1;;
  color: #ffffff !important;
}

.FilterPanelInnerSection .MuiToggleButton-root:active{
  background: #1e80b162;
}

@media (max-width: 600px){
  .FilterBtn.MuiButton-root{
    width: 60%;
  }

  .FilterPanelInnerSection{
    width: 90%;
    padding: 10px;
  }

  .FilterPanelInnerSection .MuiToggleButtonGroup-root{
    gap: 8px;
  }
}