.RecipeCard {
  width: 100%;
  max-width: 710px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
position: relative;
   box-sizing: border-box;
     overflow-x: hidden;
     align-items: center;
}

.ClearFormDiv {
  position: absolute;
  top:16px;
  right:16px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}




@media (max-width: 600px) {
  .RecipeCard {
    padding: 4px;
  }
}