.RecipeCard{
  width: 500px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center; 
  background-color: white;
}

.MainContainer:has(.LoadingWithImage, .LoadingWithoutImage) ~ div .RecipeCard {
  margin-top: 32px;
}

.MainContainer:not(:has(.LoadingWithImage, .LoadingWithoutImage)) ~ div .RecipeCard {
  margin-top: 8px;
}

.RecipeCard > h2,.InstructionsList h2 {
  color: #4b4b4b;
  text-align: center;   
  font-weight:bold; 
}
.CalorieCount{
   color: #4b4b4b;
}

.RecipeImage {
    object-fit: cover;
  width: 100%;
  height: 330px;
  border-radius: 8px;
}

.IngredientsList,
.InstructionsList {
  padding: 20px;
  margin: 20px auto;
  width: 100%;
  width: 500px;;
  box-sizing: border-box;
}

.IngredientRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c5c3c3;
  padding: 6px 0;
}

.IngredientRow:last-child {
  border-bottom: none;
}

.IngredientName {
  width: 60%;
  text-align: left;
  font-weight: 600;
  color: #333;
  padding-right: 12px;
}

.IngredientAmount {
  width: 40%;
  text-align: right;
  color: #555;
  white-space: nowrap;
}

.InstructionsList ol {
  padding-left: 20px;
  margin: 0;

}

.InstructionsList li {
  margin-bottom: 6px;
  line-height: 1.4;
    border-bottom: 1px solid #c5c3c3;
      padding-bottom: 6px;
}

@media (max-width: 600px) {

  .RecipeCard{
    width: 100%;
  }

  .RecipeImage {
    height: 220px;
    border-radius: 8px;
  }

  .IngredientsList,
  .InstructionsList {
    padding: 12px;
    margin: 12px auto;
    max-width: 100%;
    width: 100%;
  }

  .IngredientRow { padding: 6px 0; }

  .IngredientName { width: 65%; }
  .IngredientAmount { width: 35%; }

  .MainContainer:has(.LoadingWithImage, .LoadingWithoutImage) ~ div .RecipeCard {
    margin-top: 20px;
  }
  .MainContainer:not(:has(.LoadingWithImage, .LoadingWithoutImage)) ~ div .RecipeCard {
    margin-top: 6px;
  }
}
