.RecipeCard {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 18px;
  border-radius: 2px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;
} 
.ClearFormDiv {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.ClearFormBtn {
  height: 30px !important;
  background-color: #8f8f8f !important
}
