.RecipeDataContainer {
 
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: stretch;  
  position: relative;
  box-sizing: border-box;
  overflow-x: visible;   

}

.ClearFormDiv {
  position: absolute;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.ClearFormDiv.rtl {
  right: 16px;   
  left: auto;
}

.ClearFormDiv.ltr {
  right: 16px;  
  left: auto;
}

@media(max-width:600px){
.RecipeDataContainer {
   border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
}
}