.HomeScreen {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 24px 16px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;  

}
.SiteTitle{
  padding: 8px;
    font-size: 24px;
  font-weight: bold;
  color:rgb(8, 63, 114)
}
.SiteTitleDiv {
  width: 100%;
}
.SiteTitleDiv.ltr {
    
  text-align: left;
    border-bottom: 1px solid grey ;
}

.SiteTitleDiv.rtl {
  text-align: right;
 
    border-bottom: 1px solid grey ;
}

.HomeScreenTitleContainer{
  padding:8px;
 
}
.UserHello, .GuestHello{
font-size: 20px;
}

.HomeScreenTitleWrapper.ltr .GuestInstructions {
  margin-left: 0;
  margin-right: auto;   /* stick to left in a flex/column context */
  text-align: left;
  justify-content: flex-start;
}

/* RTL */
.HomeScreenTitleWrapper.rtl .GuestInstructions {
  margin-left: auto;    /* stick to right */
  margin-right: 0;
  text-align: right;
  justify-content: flex-end;
}

.GuestGenerate,
.GuestInstructions{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  gap: 8px;
  color:rgb(8, 63, 114)!important
}

.GuestGenerate:hover,
.GuestInstructions:hover{
cursor: pointer;
}

.HomeScreenTitleWrapper {
  width: 100%;
}


.HomeScreenTitleWrapper.ltr {
  text-align: left;
}

.HomeScreenTitleWrapper.rtl {
  text-align: right;
}

.HomeScreenTitleWrapper.rtl .HomeScreenTitleContainer {
  margin-left: 0;
  margin-right: 24px;
}

.GuestNotice {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.GuestNoticeLine1 {
  font-weight: 700;
  font-size: 1.25rem; 
  line-height: 1.2;
}

.GuestNoticeLine2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  opacity: 0.9;
}

.RecipeList {
  width: 100%;
 margin: 20px;    
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
    justify-content: flex-start;  
}


@media (max-width: 600px) {
  .HomeScreen {
    max-width: 100%;
    flex-wrap: nowrap;    
    flex-direction: column; 
    align-items: center;   
    gap: 16px;             
  }
}
