/* .ImageSwitch {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  min-width: 240px;
  margin: 0 auto;     
  align-items: center; 
}

.ToggleGroup {
  display: flex;
  width: 100%;
  border: 1px solid #c0bdbd;;
  border-radius: 4px;

}

.ToggleGroup .MuiToggleButtonGroup-grouped {
  flex: 1;
  border: none;
  padding: 8px 12px;
  text-transform: none;
}


.ToggleGroup .MuiToggleButton-root {
  background: white;
  color: #4b4b4b;;
  padding: 4px 10px;
  min-height: 38px;    
  line-height: 1.2;
}


.ToggleGroup .MuiToggleButton-root:hover {
  background: white;
}


.ToggleGroup .MuiToggleButton-root.Mui-selected {
  background: #285487 !important;
  color: white !important;
}

 */
