.LoginScreen {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 30px;
 
}

.LoginForm {
  border-radius: 0;
  padding: 30px;
  width: 300px;
  margin: 20px;
  height: auto;
   box-shadow: 1px 2px rgba(89, 89, 89, 0.602), 0 6px 18px rgba(89, 89, 89, 0.602);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.LoginScreenTitle {
  align-items: center;
  justify-content: center;
  color: #323232;

  font-size: 20px;
}

.BackIcon {
  cursor: pointer;
}

.ResetLink,
.RegisterLink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #323232;
  cursor: pointer;
  justify-content: center;
  font-weight: 800;
}

.ResetFacebook img,
.ResetGoogle img {
  width: 40px;
  height: 40px;
}

.LoginWithFacebookAndGoogle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}



html[dir="rtl"] .InputTextField .MuiInputAdornment-root {
  margin-left: 0 !important;
  margin-right: 8px !important;

}

.InputTextField .MuiOutlinedInput-root {
  border-radius: 8px;
}

.InputTextField .MuiOutlinedInput-notchedOutline {
  border-radius: 8px;
}

.LoginScreenBtn.MuiButton-root {
  width: 100% !important;
  border-radius: 8px !important;
  padding: 0 50px !important;
  height: 40px !important;
  font-weight: 800 !important;
  margin-top: 40px;
}

.LoginScreenBtn.MuiButton-root {
  background: #1e80b1;
  color: #ffffff !important;
  box-shadow: 0 10px 18px rgba(59, 111, 255, 0.22), 0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
}

.LoginScreenBtn.MuiButton-root {
  width: 100% !important;

  padding: 0 50px !important;
  height: 50px !important;
  font-weight: 800 !important;
  margin-top: 0;
  background: white;
  border: 2px solid #239dda;
  border-radius: 18px !important;
font-size: 18px;
  color: #239dda !important;
  box-shadow: 0 10px 18px rgba(59, 111, 255, 0.22),
    0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
}

.LoginScreenBtn.MuiButton-root:hover {
  color: #ffffff !important;
 background: #239dda;
  transform: translateY(-1px);
  box-shadow: 0 14px 24px rgba(59, 193, 255, 0.325),
    0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
}

.LoginScreenBtn.MuiButton-root:active {
  transform: translateY(0px);
  box-shadow: 0 8px 14px rgba(59, 193, 255, 0.325),
    0 2px 0 rgba(255, 255, 255, 0.18) inset !important;
}



@media (max-width: 600px) {

  .LoginForm {
    padding: 30px;
  }

  .InputTextField {
    margin: 4px 0;
    padding: 0;
  }

}