.ResetPasswordScreen {
 display: flex;
  justify-content: center;   
  align-items: start;   
  height: 100vh;
  width: 100%;
  margin: 0;
  padding-top: 30px; 
}

.ResetForm {
   background-color: white;
  border-radius: 0;
  padding: 30px;
  width: 310px;
  margin: 20px;
  height: auto;
   box-shadow: 1px 2px rgba(89, 89, 89, 0.602), 0 6px 18px rgba(89, 89, 89, 0.602);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ResetTitle {
  align-items: center;
  justify-content: center;
  color: #323232;
  margin-left: 20px;
  font-size: 20px;
}

.OtpRow {
  display: flex;
  gap: 10px;
  justify-content: center;
  direction: ltr; 
}

.OtpBox {
  width: 38px;
  height: 44px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  outline: none;
}

.OtpBox:focus {
  border-color: #1e80b1;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.15);
}

.PasswordRow {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ResetScreenBtn.MuiButton-root {
  width: 100% !important;

  padding: 0 50px !important;
  height: 50px !important;
  font-weight: 800 !important;
  margin-top: 0;
  background: white;
  border: 2px solid #239dda;
  border-radius: 18px;
font-size: 18px;
  color: #239dda !important;
  box-shadow: 0 10px 18px rgba(59, 111, 255, 0.22),
    0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
}

.ResetScreenBtn.MuiButton-root:hover {
  color: #ffffff !important;
 background: #239dda;
  transform: translateY(-1px);
  box-shadow: 0 14px 24px rgba(59, 193, 255, 0.325),
    0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
}

.ResetScreenBtn.MuiButton-root:active {
  transform: translateY(0px);
  box-shadow: 0 8px 14px rgba(59, 193, 255, 0.325),
    0 2px 0 rgba(255, 255, 255, 0.18) inset !important;
}
/* .ResetScreenBtn{
  background: #1e80b1 !important;
  border-radius: 8px !important;
  color: #ffffff !important;
  font-size: 16px !important;
  box-shadow: 0 10px 18px rgba(59, 255, 95, 0.22), 0 2px 0 rgba(255, 255, 255, 0.22) inset !important;
} */

@media (max-width: 600px) {

  .ResetForm {
      padding: 16px; 
    width: min(92vw, 360px);
    box-sizing: border-box;
  }

  .RegistrationScreenTitle {
    margin: 4px 0;  
    padding: 0;     
  }


  .OtpRow { gap: 6px; }
  .OtpBox { width: 32px; height: 44px; }

  }