.Header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%; 
    gap: 80px;
  }

.HistoryLink,
.RecipeLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 16px;
  text-decoration: none;
}

.RecipeLink, 
.HistoryLink {
  color: #4b4b4b;

  
}

.RecipeIcon,
.HistoryIcon {
  width: 30px;
  height: 30px;
  margin-bottom: 4px;
}


.RecipeLink.active,
.HistoryLink.active 
{
   border-bottom: 3px solid #4b4b4b;
}


